<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bombradius_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bombradius_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bombradius_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bombradius_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{288,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bombradius_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{384,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bombradius_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{480,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bombradius_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{576,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bombradius_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{672,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Effect_BombRadius.png</string>
            <key>size</key>
            <string>{768,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f441e5f1d1a6237f11e5f09f332008:32aa6075b270a5214dab09889ad53cf4:17820f9cef65a478d8ea8340060215fe$</string>
            <key>textureFileName</key>
            <string>Effect_BombRadius.png</string>
        </dict>
    </dict>
</plist>
