<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caves_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,0},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caves_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,156},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caves_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,312},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caves_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,468},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caves_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,624},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caves_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,780},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Caves.png</string>
            <key>size</key>
            <string>{234,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3efb88a498c8d09bf0499eb7c22880d:a2941b5c42d7b388fee5a33eddd5e56d:9fa066c4ce839115590eee184fde1e85$</string>
            <key>textureFileName</key>
            <string>Caves.png</string>
        </dict>
    </dict>
</plist>
