<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_basement_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,0},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_basement_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,156},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_basement_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,312},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_basement_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,468},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_basement_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,624},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_basement_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,780},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>basement.png</string>
            <key>size</key>
            <string>{234,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:759f967105fece8d03afe3e0bd1dcc59:813a203ac10d183689a48ab6aaf88f1f:16b1896904e003a2bfd51808b9e054b6$</string>
            <key>textureFileName</key>
            <string>basement.png</string>
        </dict>
    </dict>
</plist>
