<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_monstro_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{0,76},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{80,76},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{160,76},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{0,152},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{80,152},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_monstro_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{160,152},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_Monstro1.png</string>
            <key>size</key>
            <string>{240,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f4abcb182bfbcd71a693b1d9cbcb15c:4a825848dbc7636114dd1f2ae5bad41c:0ac316e98e5fc098850c0f3812ff1768$</string>
            <key>textureFileName</key>
            <string>Monster_Monstro1.png</string>
        </dict>
    </dict>
</plist>
