<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,0},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,156},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,312},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,468},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,624},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{234,156}</string>
                <key>textureRect</key>
                <string>{{0,780},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MapImage_Shop.png</string>
            <key>size</key>
            <string>{234,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed2a36b39b6b8a3c75ca01a1482aa7b:0ca97917adc01455d9944ed11fb13feb:310d846c2fd0abacc759e2313b1f3f0d$</string>
            <key>textureFileName</key>
            <string>MapImage_Shop.png</string>
        </dict>
    </dict>
</plist>
