<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_poof_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,85},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,170},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,255},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,340},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{0,425},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{0,511},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{0,597},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{0,683},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{0,769},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,855},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,940},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1025},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1110},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1195},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1280},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1365},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1450},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1535},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_poof_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{0,1620},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Effect_Poof_Normal.png</string>
            <key>size</key>
            <string>{96,1705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f5335f14d013c4f7edd08e6ea629395:46b29479301f476b9b7d56e1a52af606:592bc603a173806283cbccf433d3d34e$</string>
            <key>textureFileName</key>
            <string>Effect_Poof_Normal.png</string>
        </dict>
    </dict>
</plist>
